{% extends 'base/base.html' %}

{% block content %}
	<body>
		<div class="">
			
			<div class = "container col-xs-4 row">

				<h1 class="form-titulo form-titulo-width" style ="margin-left: 5px">Registrar Notas</h1>

				<form class="form-comun" action="{% url 'gestor:registro_consulta' %}" method="post" >
					{% csrf_token %}

					
					<div class="tamaño input-group mb-3">
							<div class="input-group-prepend">
								  <label class="input-group-text" for="inputGroupSelect01">Especialidad</label>
							</div>
							<select class="custom-select" id="inputGroupSelect01 especialidad" required name = "especialidad">
									<option></option>
									{% for es in especialidad %}
										<option class="etiqueta-option" value = "{{ es.codigo_especialidad }}">{{ es.nombre_especialidad }}</option>
									{% endfor %}
							</select>
					</div>
		
					<div class="tamaño input-group mb-3">
							<div class="input-group-prepend">
								  <label class="input-group-text" for="inputGroupSelect01">Nivel</label>
							</div>
							<select class="custom-select" id="inputGroupSelect01" required name = "nivel">
									<option></option>
									{% for ni in nivel %}
									<option class="etiqueta-option" value = "{{ ni.id_nivel }}">{{ ni.nombre_nivel }}</option>
									{% endfor %}
							</select>
					</div>

					<div class="tamaño input-group mb-3">
						<div class="input-group-prepend">
								<label class="input-group-text" for="inputGroupSelect01">Secci&oacute;n</label>
						</div>
						<select class="custom-select" id="inputGroupSelect01 seccion" required name = "seccion">
								<option></option>
								{% for sec in seccion %}
								<option class="etiqueta-option" value = "{{ sec.id_seccion }}">{{ sec.nombre_secion }}</option>
								{% endfor %}
						</select>
					</div>

					<div class="tamaño input-group mb-3">
						<div class="input-group-prepend">
							  <label class="input-group-text" for="inputGroupSelect01">Periodo</label>
						</div>
						<select class="custom-select" id="inputGroupSelect01" required name = "periodo">
								<option></option>
								{% for pe in periodo %}
								<option class="etiqueta-option" value = "{{ pe.id_periodo }}">{{ pe.nombre_periodo }}</option>
								{% endfor %}
						</select>
					</div>

					<div class="tamaño input-group mb-3">
							<div class="input-group-prepend">
									<label class="input-group-text" for="inputGroupSelect01">Asignatura</label>
							</div>
							<select class="custom-select" id="inputGroupSelect01 seccion" required name = "asignatura">
									<option></option>
									{% for as in materia %}
									<option class="etiqueta-option" value = "{{ as.codigo_asignatura }}">{{ as.nombre_asignatura }}</option>
									{% endfor %}
							</select>
					</div>

					
					<div class="btn-mostrar">

							<input type="submit" value="Mostrar" class="btn-buscar" required>

					</div>
					
				</form>

				 <div class="cuerpo-tabla">
					<div class ="container">
						<div class ="row">
								<div class="col-md-6">
									<table class = "etiqueta-table table">
										<thead class = "etiqueta-thead thead-dark">

											<tr class="etiqueta-tr">
												<th class ="etiqueta-th th-borde width-th-xx">Opciones</th>
												<th class ="etiqueta-th th-borde width-th-xx">NIE</th> 
												<th class ="etiqueta-th th-borde width-th-xx">Alumno</th>
											</tr>

										</thead>

											{% for ma in matricula %}
												<tr class="">
													<th class = "etiqueta-th th-borde width-th-xx a-btn"><a onclick = "return abrir_modal('{% url 'gestor:prueba' ma.id %}', 'Registrar/notas')" >Registrar</a></th>
													<th class ="etiqueta-th th-borde width-th-xx" name = "{{ ma.alumno.nie }}" id = "nie">{{ma.alumno.nie}}</th>
													<th class ="etiqueta-th th-borde width-th-xx" name = "apellidos" id = "nombre">{{ma.alumno.apellidos_alumno}}{{ma.alumno.nombre_alumno}}</th>
												</tr>
											{% endfor %}
									</table>
								</div>

								<div class="col-md-1">
										<table class = "etiqueta-table table table-margin-left table-border table-border-act1">
											<thead class = "etiqueta-thead thead-dark">

												<tr class ="">
														<th class ="">Actividad1</th>
												</tr>
											</thead>
										{% for no in nota1 %}
											<tr class ="">
												<th class ="">{{no.valor}}</th>
											</tr>
										{% endfor %}
									</table>
								</div>
								
								<div class="col-md-1">
									<table class = "etiqueta-table table table-margin-left table-margin-left2 table-border">
										<thead class = "etiqueta-thead thead-dark">

											<tr class ="">
													<th class ="">Actividad2</th>
											</tr>
										</thead>
									{% for no in nota2  %}
										<tr class ="">
											<th class ="">{{no.valor}}</th>
										</tr>
									{% endfor %}
								</table>
							</div>
							
							<div class="col-md-1">
								<table class = "etiqueta-table table table-margin-left table-margin-left3 table-border">
									<thead class = "etiqueta-thead thead-dark">

										<tr class ="">
												<th class ="">Actividad3</th>
										</tr>
									</thead>
								{% for no in nota3 %}
									<tr class ="">
										<th class ="">{{no.valor}}</th>
									</tr>
								{% endfor %}
								</table>
							</div>
							<div class="col-md-1">
								<table class = "etiqueta-table table table-margin-left table-margin-left4 table-border">
									<thead class = "etiqueta-thead thead-dark">
	
										<tr class ="">
												<th class ="">Promedio</th>
										</tr>
									</thead>
									{% for pro in promedio %}
										<tr class ="">
											<th class ="">{{ pro }}</th>
										</tr>
									{% endfor %}
								</table>
							</div>
						</div>
					</div> 
					<br><br>
				 </div> 
				
			</div>

		</div>
		<div id = "popup">

		</div>
	</body>
{% endblock %}
{% block js %}
<script> 
	var modal; 
	function abrir_modal(url, titulo)
	{
		modal = $('#popup').dialog({
			title :titulo,
			modal :true,
			width:500,
			resizable:false
		}).dialog('open').load(url)
	}
</script>
{% endblock %}
